.title-div {
  position: relative;
  display: flex;
  align-items: center;
  min-height: 70px;         /* adjust as needed */
  margin-top: 10px;        /* vertical offset */
  margin-left: 40px;
  margin-right: 40px;
  padding: 0 16px;
  border: 0px solid #0b5cff;
  box-shadow: 0px 5px 1px #0b5cff;
  border-radius: 20px;
}

.main-title {
  margin: 0;
  color: #0b5cff;
  font-family: GoldenAge;
  font-size: 60px;
  text-align: center;

  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  line-height: 1.1;
}

.back-btn {
  height: 40px;
  width: 60px;
  border: none;
  border-radius: 20px;
  background-color: #0b5cff;
  color: #fff;
  cursor: pointer;

  position: absolute;
  left: 16px;
}

.back-btn:hover{
  box-shadow: 1px 5px 1px hsl(220, 62%, 85%);
}


@media (max-width: 480px) {
  .title-div {
    position: relative;
    display: flex;
    align-items: center;

    min-height: 60px;         /* adjust as needed */

    margin-top: 10px;        /* vertical offset */
    margin-left: 20px;
    margin-right: 20px;

    padding: 0 16px;
    border: 0px solid #0b5cff;
    box-shadow: 0px 5px 1px #0b5cff;
    border-radius: 20px;
  }
  .main-title {
    font-size: 40px;
    margin-left: 20px;
  }

  .back-btn {
    height: 40px;
    width: 55px;
    left: 8px;
  }
}